body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.title {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.food-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
}

.track-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.track-btn:hover {
    background-color: #0056b3;
}

.tracked-items {
    text-align: left;
    margin-bottom: 20px;
}

.tracked-items div {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

.total-calories {
    font-weight: bold;
    font-size: 18px;
}
